# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# IDE dirs
.idea/
.vscode/*
!.vscode/launch.json

# Other
.task/
.env
*.db
*.rej
*.patch
*.swp
*.DS_Store

frontend/node_modules
main
side
temporalbin
workerbin
apibin
libusearch_c.a
local-temporal-db*
.aider*

# dlv bugs
__debug_bin*

# TODO: audit these and move into the sidekick workspace kanban board
todo.md

# TODO: audit these and move into public roadmap & github issues
release-thoughts.md

