{{#SymbolName=<template>}}
    (component
        (template_element) @definition
    )
{{/SymbolName=<template>}}
{{#SymbolName=template}}
    (component
        (template_element) @definition
    )
{{/SymbolName=template}}

{{#SymbolName=<script>}}
    (component
        (script_element) @definition
    )
{{/SymbolName=<script>}}
{{#SymbolName=script}}
    (component
        (script_element) @definition
    )
{{/SymbolName=script}}

{{#SymbolName=<style>}}
    (component
        (style_element) @definition
    )
{{/SymbolName=<style>}}
{{#SymbolName=style}}
    (component
        (style_element) @definition
    )
{{/SymbolName=style}}