; All class declarations (including value classes, enums, and regular classes)
(
  [
    (block_comment)
    (line_comment)
  ]* @doc
  .
  (class_declaration
    (identifier) @name
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

(
  [
    (block_comment)
    (line_comment)
  ]* @doc
  .
  (object_declaration
    (identifier) @name
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

; Function declarations
(
  [
    (block_comment)
    (line_comment)
  ]* @doc
  .
  (function_declaration
    (identifier) @name
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

; enum members
(enum_entry
  (identifier) @name
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition