; Broken syntax cases
(ERROR
  (identifier) @name
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

;(module
;  (expression_statement
;    (assignment
;      left: (identifier) @name
;    )
;  )
;  (#eq? @name "{{SymbolName}}")
;) @definition

(
  (type_alias_statement
    (type (identifier) @name)
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

(expression_statement
  (assignment
    left: (identifier) @name
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

(
  (decorator)*
  .
  (class_definition
    name: (identifier) @name
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

(
  (decorator)*
  .
  (function_definition
    name: (identifier) @name
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

{{#SymbolName}}
(import_from_statement
  name: (aliased_import
    alias: (identifier) @name
    (#eq? @name "{{SymbolName}}")
  )
) @definition

(import_statement
  name: (aliased_import
    alias: (identifier) @name
    (#eq? @name "{{SymbolName}}")
  )
) @definition
{{/SymbolName}}
