(
  (function_declaration
    name: (identifier) @name
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

;(
;  (function
;    name: (identifier) @name
;  )
;  (#eq? @name "{{SymbolName}}")
;) @definition

(
  (interface_declaration
    name: (type_identifier) @name
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

(
  (type_alias_declaration
    name: (type_identifier) @name
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

(
  (class_declaration
    name: (_) @name
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

(
  (call_expression
    function: (identifier) @name
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

(
  (variable_declaration
    (variable_declarator
      name: (identifier) @name
    )
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

(
  (lexical_declaration
    (variable_declarator
      name: (identifier) @name
    )
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

(
  (method_definition
    name: (_) @name
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

(
  (interface_declaration
    body: (_
      (method_signature
        name: (_) @name
      )
    )
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

(
  (interface_declaration
    name: (_) @name
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
)