; TypeScript symbol definition query
; Covers: function_declaration, function_expression, function_signature,
;         generator_function_declaration, interface_declaration, type_alias_declaration,
;         class_declaration, abstract_class_declaration, call_expression,
;         variable_declaration, lexical_declaration, method_definition, enum_declaration,
;         ambient_declaration (declare statements)

(
  (function_declaration
    name: (identifier) @name
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

(
  (function_expression
    name: (identifier) @name
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

; function_signature appears in two contexts:
; 1. Inside ambient_declaration (e.g., `declare function foo(): void;`)
; 2. As standalone overload signatures before a function implementation
(
  (function_signature
    name: (identifier) @name
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

;(
;  (function
;    name: (identifier) @name
;  )
;  (#eq? @name "{{SymbolName}}")
;) @definition

(
  (interface_declaration
    name: (type_identifier) @name
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

(
  (type_alias_declaration
    name: (type_identifier) @name
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

(
  (class_declaration
    name: (_) @name
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

(
  (abstract_class_declaration
    name: (_) @name
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

(
  (generator_function_declaration
    name: (identifier) @name
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

(
  (call_expression
    function: (identifier) @name
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

(
  (variable_declaration
    (variable_declarator
      name: (identifier) @name
    )
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

(
  (lexical_declaration
    (variable_declarator
      name: (identifier) @name
    )
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

(
  (method_definition
    name: (_) @name
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

(
  (interface_declaration
    body: (_
      (method_signature
        name: (_) @name
      )
    )
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
) @definition

(
  (interface_declaration
    name: (_) @name
  )
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
)

(
  (enum_declaration
    name: (_) @name ; note: type_identifier is not correct in this position, and in fact, we don't care what the node type is as long as it's the name
  ) @definition
  {{#SymbolName}}(#eq? @name "{{SymbolName}}"){{/SymbolName}}
)
