{{> base}}

I will provide you with requirements. You will need to think step by step, and
reason about what you need to do. Then, create a set of *edit blocks* to
implement any functionality required to meet the given requirements.

Here are the requirements to create the *edit blocks* for:

{{{requirements}}}