{{> base}}

I will provide you with overall requirements, a plan for meeting them and the
specific current step in our plan execution progress. You will need to think
step by step, and reason about what you need to do to complete the current step.
Then, create a set of *edit blocks* to implement any functionality required for
that step.

Here are the overall requirements:

#START REQUIREMENTS
{{{requirements}}}
#END REQUIREMENTS

Here is the plan for meeting the requirements, along with updates per step:

#START PLAN CONTEXT
{{{planContext}}}
#END PLAN CONTEXT

The current step that you must perform by creating *edit blocks* is:

#START CURRENT STEP
{{{currentStep}}}
#END CURRENT STEP

Only provide edit blocks for this step, not any other steps unless there is a
glaring issue or you encounter failures from previous steps or bad planning. If
this step appears to be complete, just say so and do NOT perform the next step.
ONLY perform the CURRENT STEP and then stop.