{{{startInitialCodeContext}}}
{{{repoSummary}}}
{{{endInitialCodeContext}}}

{{> input}}

Determine the files and corresponding symbols that you MUST see in order to
{{#step}} do the current step only.{{/step}}
{{^step}} meet these requirements.{{/step}}

You can ask for more code context later if you need it, so only request the most
salient code for now, but do not leave out essential code either. When new
functions / tests / types / etc are required, do include a single examplar of
code similar to what you need to write, but not multiple for any specific type
of functionality.