{{{startInitialCodeContext}}}
{{{repoSummary}}}
{{{endInitialCodeContext}}}

{{> input}}

Determine the files and corresponding symbols that you MUST see in order to
{{#step}} do the current step only.{{/step}}
{{^step}} meet these requirements.{{/step}}

Do not leave out essential code but don't ask for anything that is only
tangentially related. When new functions / tests / types / etc are required, do
include a single examplar of code similar to what you need to write, but not
multiple for any specific type of functionality.

Don't just get symbol definitions for the "first" thing: instead, get all the
code that appears relevant in one go.