{{#step}}
Overall requirements:
{{/step}}

#START Requirements
{{{requirements}}}
#END Requirements

{{#needs}}
#START Derived Info Needs
{{{needs}}}
#END Derived Info Needs
{{/needs}}

{{#planExecution}}
#START Plan
{{{planExecution}}}
#END Plan
{{/planExecution}}

{{#step}}
#START Current Step
{{{step}}}
#END Current Step
{{/step}}